.inicio-guarda{
    max-width:1200px;
    margin:auto;
    padding:35px;
    font-family:'Segoe UI',sans-serif;
}

/*=========================
        HERO
=========================*/

.hero-guarda{
    width:100%;
    background:#28a745;
    background:linear-gradient(135deg,#13863b,#32b44a);
    color:#fff;

    border-radius:22px;

    padding:45px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    margin-bottom:40px;

    box-shadow:0 10px 25px rgba(0,0,0,.15);
}

.hero-texto{
    flex:1;
}

.hero-texto h1{
    font-size:48px;
    margin-bottom:15px;
}

.hero-texto p{
    font-size:20px;
    line-height:1.7;
    max-width:650px;
}

.hero-icono{
    display:flex;
    justify-content:center;
    align-items:center;

    font-size:110px;

    color:rgba(255,255,255,.25);

    margin-left:40px;
}

/*=========================
        CARDS
=========================*/

.cards-guarda{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

    gap:25px;

    margin-bottom:40px;

}

.card-guarda{

    background:#fff;

    border-radius:18px;

    padding:35px 25px;

    text-align:center;

    border-top:5px solid #32b44a;

    box-shadow:0 8px 18px rgba(0,0,0,.08);

    transition:.3s;

}

.card-guarda:hover{

    transform:translateY(-8px);

}

.icono-card{

    font-size:55px;

    color:#32b44a;

    margin-bottom:18px;

}

.card-guarda h3{

    color:#13863b;

    margin-bottom:15px;

    font-size:30px;

}

.card-guarda p{

    color:#666;

    line-height:1.7;

}

/*=========================
      MENSAJE
=========================*/

.mensaje-final{

    background:#fff;

    border-left:6px solid #32b44a;

    padding:30px;

    border-radius:18px;

    box-shadow:0 8px 18px rgba(0,0,0,.08);

}

.mensaje-final h2{

    color:#13863b;

    margin-bottom:15px;

}

.mensaje-final ul{

    padding-left:20px;

}

.mensaje-final li{

    margin:10px 0;

}

/*=========================
      RESPONSIVE
=========================*/

@media(max-width:768px){

.hero-guarda{

    flex-direction:column;

    text-align:center;

}

.hero-icono{

    margin-top:25px;

    margin-left:0;

    font-size:80px;

}

.hero-texto h1{

    font-size:34px;

}

.hero-texto p{

    font-size:17px;

}

}